body {
    font-family: 'Sarabun', sans-serif; /* ใช้ฟอนต์ที่รองรับภาษาไทย */
    background-color: #34495e;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #f1c40f;
}

.game-container {
    padding: 20px 30px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hangman-box {
    fill: none;
    stroke: #fff;
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: none; /* ซ่อนชิ้นส่วนร่างกายไว้ก่อน */
}

.word-display {
    display: flex;
    margin-top: 20px;
}

.letter {
    border-bottom: 3px solid #f1c40f;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    height: 50px;
    width: 30px;
}

.keyboard {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(11, 40px); /* จัดเรียงปุ่ม */
    gap: 5px;
}

.key {
    background-color: #fff;
    border: none;
    color: #34495e;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.key:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

.notification-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none; /* ซ่อนไว้ก่อน */
    align-items: center;
    justify-content: center;
}

.notification-container.show {
    display: flex; /* แสดงเมื่อเกมจบ */
}

.notification {
    background: #f1c40f;
    color: #34495e;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}